<!-- build a table that will display the long URL and shortened URL. Click on a link that will render a form. -->

<table>
	<thead>
		<td>Long URL</td>
		<td>Shortened URL</td>
	</thead>

	<tbody>
		<td>xxx</td>
		<td>yyy</td>
	</tbody>
</table>

<!-- <a title="hello" name="test" id="id" href="/urls/new">New Link </a> -->

<!-- <a href='/urls/new'>Create Shortened URL</a> -->
<%= link_to "Create Shortened URL", new_url_path, title:"test", name:"Create Shortened URL", id:"id" %>


