<!-- build a table that will display the long URL and shortened URL. Click on a link that will render a form. -->

<table>
	<thead>
		<td>Long URL</td>
		<td>Shortened URL</td>
	</thead>

	<tbody>
		<td>xxx</td>
		<td>yyy</td>
	</tbody>
</table>

<a href='/urls/new'>Create Shortened URL</a>